# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
.DS_Store

# CMake, Make and compiled files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
glbase/libglbase_autogen/
images.qrc.depends
qrc_images.cpp
qrc_shader.cpp
shader.qrc.depends
FloppyFish
FloppyFish_autogen/
ui_mainwindow.h
.cache/

# Ignore Qt folder
.qt
/.idea
/cmake-build-debug
/.cmake
